.cards{
    display:flex;
    flex-wrap:wrap;
  }
  .cards .card{
    margin-right: 10px;
    cursor:pointer;
  }
  .cards .card img{
    width: 350px;
    height: 900px;
  }
  .cards .card .card-header{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  .cards .card .card-body p{
    margin-top: -10px;
  }