    <h5 style="text-align: center;">   تعلم العربية </h5>
<div class="container"> 
    <div class="row"  > 
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">اْلٌفِيدْيُو اْلٌأَوّلْ</h5>
        <iframe  src="https://www.youtube.com/embed/aNNUdNhpSB8" allowfullscreen></iframe>
        
          <p class="card-text">  تعليم كتابة الحروف العربية للأطفال وكيفية نطقها بطريقة سهلة</p>
         
        
     
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">اْلٌفِيدْيُو اْلٌثاني</h5>
        <iframe  src="https://www.youtube.com/embed/VEzvA8yWQMU" allowfullscreen></iframe>
         <p class="card-text">الحروف الهجائية مع الطفل الرئيس بالصوت والصوره</p>
         </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">اْلٌفِيدْيُو اْلٌثالِثْ</h5>
        <iframe  src="https://youtube.com/embed/OQs8g1DN55o" allowfullscreen></iframe>
          <p class="card-text">أغنية الحروف الأبجدية العربية للأطفال أنشودة حروف الهجاء نشيد تعليم الحروف</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">اْلٌفِيدْيُو اْلٌرابِعْ</h5>
        <iframe  src="https://youtube.com/embed/LyzupN62MGA" allowfullscreen></iframe>
     
          <p class="card-text">تعلّم قراءة الحروف العربية بالحركات الثلاث, الفتحة, الضمة و الكسرة</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">اْلٌفِيدْيُو اْلٌخَامِسْ</h5>
        <iframe  src="https://youtube.com/embed/iotSSbNUMI8" allowfullscreen></iframe>
     
    
          <p class="card-text">تعليم نطق اسماء الحروف الهجائية وحركاتها القصيرة وأصواتها الطويلة</p>
         
     
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">اْلٌفِيدْيُو اْلٌسَادِسْ</h5>
        <iframe  src="https://youtube.com/embed/FC0Y5Ydxp1o" allowfullscreen></iframe>
     

          <p class="card-text">تعليم الحروف العربية للاطفال</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">اْلٌفِيدْيُو اْلٌسَادِسْ</h5>
        <iframe  src="https://youtube.com/embed/qh2-F2qMBL8" allowfullscreen></iframe>
    
          <p class="card-text">تعليم الحروف العربية للأطفال وكيفية كتابتها بطريقة سهلة</p>
     
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">اْلٌفِيدْيُو اْلٌسَادِسْ</h5>
        <iframe  src="https://youtube.com/embed/HXc-lM3h4V4" allowfullscreen></iframe>
    
          <p class="card-text">تعليم الاطفال النطق باللغة العربية تدريب علي النطق بالصوت والصورة</p>
     
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">اْلٌفِيدْيُو اْلٌسَادِسْ</h5>
        <iframe  src="https://youtube.com/embed/7GDq0T4y1Eo" allowfullscreen></iframe>
    
          <p class="card-text"> تعليم الحروف العربية للأطفال أ ب ت ث مع سوبر جميل</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">اْلٌفِيدْيُو اْلٌسَادِسْ</h5>
        <iframe  src="https://youtube.com/embed/GxagsfK643M" allowfullscreen></iframe>
    
    
          <p class="card-text">تعليم الاطفال الكلام | كلمات مهمة لاطفال الروضة - كلمات باللغة العربية للاطفال الصغار</p>

        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">اْلٌفِيدْيُو اْلٌسَادِسْ</h5>
        <iframe  src="https://youtube.com/embed/7CELePV0yM4" allowfullscreen></iframe>
       
    
          <p class="card-text">تعليم الحروف العربية للأطفال بطريقة مسلية وممتعة مع القط توم</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">اْلٌفِيدْيُو اْلٌسَادِسْ</h5>
        <iframe  src="https://youtube.com/embed/1jtdPmuUIxE" allowfullscreen></iframe>
     
          <p class="card-text">كتابة وتلوين الحروف العربية للأطفال</p>
      
          
       
      </div>
  </div>
</div>
</div>
</div>
<br>

<div class="title-h3>"><h3  style="text-align:center">  صور و أسماء الحيوانات   </h3></div> 


<div class="container">
<div class="cards">
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtknfVFb3JWFnMM5_KSf63Mf5Occ3X3maj2EYAWy8S7V8GqYY8twytijuD7CpWPWVsXBU&usqp=CAU">
        
        <div class="card-body">
          
        </div>
      </div>
      <div class="card">
        <img src="https://www.fichier-pdf.fr/2014/02/14/imagier-animaux-arabe/preview-imagier-animaux-arabe-1.jpg">
        
        <div class="card-body">
         
        </div>
      </div>
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt_x0dF4puwRFwLzuhFZbXP-FX7k7mYqHylkb0o5khk4tRBdl1JOhYlgAESQiMKW90WnE&usqp=CAU">
        
        <div class="card-body">
         
        </div>
      </div>
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdCvUrywub_ub_ylBy54_DfKnjhOgWpUAlSBKixvJH0BPYoMHV8DR3aIHe-uBsjJAv0jI&usqp=CAU">
      
        <div class="card-body">
          
        </div>
      </div>
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsGOzpcHW3cgO44gaO2ZQLTEKtCpbgAEwuGEWOfyRoI2pdbUscJUdWxrgDUmx2gjg0qmg&usqp=CAU">
        
        <div class="card-body">
        
        </div>
      </div>
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAq-tmIDqT21PrJkVi-JVqFn8-d7Z-O48L_dK2bX7ccZ9cjRGu7W0Sr0blRbomIa0mHmo&usqp=CAU">
        
        <div class="card-body">
          
        </div>
      </div>
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPNfs6qriOWg3MsYYEpTobjb5A-qzHqTAkGQ&usqp=CAU">
        
        <div class="card-body">
         
        </div>
      </div>
      <div class="card">
        <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG4BgGwjJYV3xmTUuKZ3q3hpKv_OrRJdkUpA&usqp=CAU">
        
        <div class="card-body">
         
        </div>
      </div>
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUlo8SbTKO2GAYEEFKG3NyPk3y8twFcPJbJg&usqp=CAU">
       
        <div class="card-body">
        
      </div>
    </div>
</div>
</div>



