
  .cards{
    display:flex;
    flex-wrap:wrap;
  }
  .cards .card{
    margin-right: 10px;
    cursor:pointer;
  }
  .cards .card img{
    width: 350px;
  }
  .cards .card .card-header{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  .cards .card .card-body p{
    margin-top: -10px;
  }
  .fruit{
      text-align: center;
      color: rgb(221, 49, 19);
      justify-content: right;
      font-family: fantasy;
      
  }