<h5 style="text-align: center;">   Comprendre le français </h5>
<div class="container"> 
    <div class="row"  > 
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">Première vidéo</h5>
        <iframe  src="https://www.youtube.com/embed/so1PPmw6ljY?list=PL8tN7PSHumdSN2EAP5-ui59iBPysTYFl6" allowfullscreen></iframe>
        
          <p class="card-text">Comprendre l'alphabet français </p>
         
        
     
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;"> Deuxieme vidéo</h5>
        <iframe  src="https://www.youtube.com/embed/hdpA-fm0tMs?list=PL8tN7PSHumdSN2EAP5-ui59iBPysTYFl6" allowfullscreen></iframe>
         <p class="card-text">Comprendre l'alphabet français</p>
         </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;"> Troisième vidéo</h5>
        <iframe  src="https://youtube.com/embed/-fsD8YTtJgc?list=PL8tN7PSHumdSN2EAP5-ui59iBPysTYFl6" allowfullscreen></iframe>
          <p class="card-text">Comprendre l'alphabet français</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;"> Quatrième vidéo</h5>
        <iframe  src="https://youtube.com/embed/4Xbb3Lnpmbc?list=PL8tN7PSHumdSN2EAP5-ui59iBPysTYFl6" allowfullscreen></iframe>
     
          <p class="card-text">Comprendre l'alphabet français</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;"> Cinquième vidéo</h5>
        <iframe  src="https://youtube.com/embed/geBjZ-xEDWM?list=PL8tN7PSHumdSN2EAP5-ui59iBPysTYFl6" allowfullscreen></iframe>
     
    
          <p class="card-text">Comprendre l'alphabet français</p>
         
     
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;"> Sixième vidéo</h5>
        <iframe  src="https://youtube.com/embed/XdvwRvXIUB4?list=PL8tN7PSHumdSN2EAP5-ui59iBPysTYFl6" allowfullscreen></iframe>
     

          <p class="card-text">Comprendre l'alphabet français</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;"> Septième vidéo</h5>
        <iframe  src="https://youtube.com/embed/kxKplTwylF0?list=PL8tN7PSHumdSN2EAP5-ui59iBPysTYFl6" allowfullscreen></iframe>
    
          <p class="card-text">Comprendre l'alphabet français</p>
     
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;"> Huitième vidéo</h5>
        <iframe  src="https://youtube.com/embed/moZk8yH6c38?list=PL8tN7PSHumdSN2EAP5-ui59iBPysTYFl6" allowfullscreen></iframe>
    
          <p class="card-text">Comprendre l'alphabet français</p>
     
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;"> Nivième vidéo</h5>
        <iframe  src="https://youtube.com/embed/y8CwjZuKx7A?list=PL8tN7PSHumdSN2EAP5-ui59iBPysTYFl6" allowfullscreen></iframe>
    
          <p class="card-text">Comprendre l'alphabet français</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;"> Dixiéme vidéo</h5>
        <iframe  src="https://youtube.com/embed/d2jFGjq3gZ8?list=PL8tN7PSHumdSN2EAP5-ui59iBPysTYFl6" allowfullscreen></iframe>
    
    
          <p class="card-text">Comprendre l'alphabet français</p>

        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;"> Onziéme vidéo</h5>
        <iframe  src="https://youtube.com/embed/tvFHDEqL4Uc?list=PL8tN7PSHumdSN2EAP5-ui59iBPysTYFl6" allowfullscreen></iframe>
       
    
          <p class="card-text">Comprendre l'alphabet français</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;"> douzième vidéo</h5>
        <iframe  src="https://youtube.com/embed/mPhcLPODWS0?list=PL8tN7PSHumdSN2EAP5-ui59iBPysTYFl6" allowfullscreen></iframe>
     
          <p class="card-text">Comprendre l'alphabet français</p>
      
          
       
      </div>
  </div>
</div>
</div>
</div>
<br>

<div class="title-h3>"><h3  style="text-align:center"> Images des animaux   </h3></div> 



<div class="container">
    <div class="cards">
        <div class="card">
            <img  src="https://i.pinimg.com/474x/28/58/ec/2858ec7592b4425f7b0ef710ad722b81.jpg">
            
            <div class="card-body">
              
            </div>
          </div>
          <div class="card">
            <img src="https://teteamodeler.ouest-france.fr/images/illustration/Image/coloriage/carteanimaux2.jpg">
            
            <div class="card-body">
             
            </div>
          </div>
          <div class="card">
            <img src="https://www.librairie-interactive.com/local/cache-gd2/dc1295cce45b5efdf02968afcfef6348.png">
            
            <div class="card-body">
             
            </div>
          </div>
          <div class="card">
            <img src="https://teteamodeler.ouest-france.fr/images/illustration/Image/coloriage/carteanimaux6.jpg">
          
            <div class="card-body">
              
            </div>
          </div>
          <div class="card">
            <img src="https://fr.islcollective.com/preview/201405//b2/jeu-des-contraires-activites-ludiques-briser-la-glace-unaun-mentorat-_70463_2.jpg">
            
            <div class="card-body">
            
            </div>
          </div>
          <div class="card">
            <img src="https://fr.islcollective.com/preview/201511/f/jeu-de-memoire-animaux-de-la-foret-et-du-jardin-activites-ludiques-briser-la-glace-unaun-mentorat-_83395_1.jpg">
            
            <div class="card-body">
              
            </div>
          </div>
          <div class="card">
            <img src="https://i.pinimg.com/564x/c6/a7/e4/c6a7e4ec788a14d397d1d1a031cd89ae.jpg">
            
            <div class="card-body">
             
            </div>
          </div>
          <div class="card">
            <img src=" ">
            
            <div class="card-body">
             
            </div>
          </div>
          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUlo8SbTKO2GAYEEFKG3NyPk3y8twFcPJbJg&usqp=CAU">
           
            <div class="card-body">
            
          </div>
        </div>
    </div>
    </div>
    <div class="fruit">  <h3>  Images des fruits</h3></div> 
    <div class="container">
        <div class="cards">
            <div class="card">
                <img  src="https://i.pinimg.com/originals/b3/fa/ce/b3facea10b898e03d640cf52c7703cd7.jpg">
                
                <div class="card-body">
                  
                </div>
              </div>
              <div class="card">
                <img src="https://i.pinimg.com/originals/67/fa/3d/67fa3dc0ff887400453d47a9f3d6479b.jpg">
                
                <div class="card-body">
                 
                </div>
              </div>
              <div class="card">
                <img src="https://i.pinimg.com/736x/c7/de/9a/c7de9a7b62abeca766ac7654690c42dd--fruit-plus-les-fruits.jpg">
                
                <div class="card-body">
                 
                </div>
              </div>
              <div class="card">
                <img src="https://teteamodeler.ouest-france.fr/boiteaoutils/image/activite/vocabulaire/vocabulaire-fruits-correction.jpg">
              
                <div class="card-body">
                  
                </div>
              </div>
              <div class="card">
                <img src="https://3.bp.blogspot.com/-o6paYLEEn4g/Vswj2dNLyoI/AAAAAAAAgHI/I18o_nZ3DIU/s1600/Les%2Bfruits.jpg">
                
                <div class="card-body">
                
                </div>
              </div>
              <div class="card">
                <img src="https://s-media-cache-ak0.pinimg.com/736x/3f/6d/aa/3f6daaf27df3c742f621750415b57d32.jpg">
                
                <div class="card-body">
                  
                </div>
              </div>
    
            </div>
        </div>

