
<h5 style="text-align: center;">  Learn English Alphabets </h5>
<div class="container"> 
    <div class="row"  > 
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">first video</h5>
        <iframe  src="https://www.youtube.com/embed/gGQ5IPfKk1U?list=PLFwoyXoF043iWmySWefYeX1RTXXLurIlb" allowfullscreen></iframe>
        
          <p class="card-text">  The letter a in English | A fun children’s story with words</p>
         
        
     
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">second video</h5>
        <iframe  src="https://www.youtube.com/embed/41uewO8ehcw?list=PLFwoyXoF043iWmySWefYeX1RTXXLurIlb" allowfullscreen></iframe>
         <p class="card-text">The letter a in English | A fun children’s story</p>
         </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">third video</h5>
        <iframe  src="https://youtube.com/embed/39oknBKGtps?list=PLFwoyXoF043iWmySWefYeX1RTXXLurIlb" allowfullscreen></iframe>
          <p class="card-text">The letter b in English ➡ Alphabet story with words for children</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">fourth video</h5>
        <iframe  src="https://youtube.com/embed/L7pRTB4d2bs?list=PLFwoyXoF043iWmySWefYeX1RTXXLurIlb" allowfullscreen></iframe>
     
          <p class="card-text">The letter b in English ➡ Alphabet stories for children</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">fifth video</h5>
        <iframe  src="https://youtube.com/embed/dUZPXYRVdiA?list=PLFwoyXoF043iWmySWefYeX1RTXXLurIlb" allowfullscreen></iframe>
     
    
          <p class="card-text">The letter c in English ➡ Alphabet story with words for children</p>
         
     
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">sixth video</h5>
        <iframe  src="https://youtube.com/embed/nPnX-ZPuAQM?list=PLFwoyXoF043iWmySWefYeX1RTXXLurIlb" allowfullscreen></iframe>
     

          <p class="card-text">The letter c in English ➡ A fun children's story</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">seventh video</h5>
        <iframe  src="https://youtube.com/embed/6wGFLiriEvU?list=PLFwoyXoF043iWmySWefYeX1RTXXLurIlb" allowfullscreen></iframe>
    
          <p class="card-text">I can read the d-phonic sound |English alphabet | Alphabet sounds | Children's stories in English</p>
     
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">eighth video</h5>
        <iframe  src="https://youtube.com/embed/XI1uWh4OChU?list=PLFwoyXoF043iWmySWefYeX1RTXXLurIlb" allowfullscreen></iframe>
    
          <p class="card-text">I can read the d-phonic | English alphabet sounds | Sound confusion | Stories for children/p>
     
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">nth video</h5>
        <iframe  src="https://youtube.com/embed/wjMpyv0bAOE?list=PLFwoyXoF043iWmySWefYeX1RTXXLurIlb" allowfullscreen></iframe>
    
          <p class="card-text"> The letter e in English ➡ A fun children's story with words</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">tenth video</h5>
        <iframe  src="https://youtube.com/embed/RHUuq6iHRVM?list=PLFwoyXoF043iWmySWefYeX1RTXXLurIlb" allowfullscreen></iframe>
    
    
          <p class="card-text">The letter e in English ➡ A fun children's story</p>

        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">eleventh video</h5>
        <iframe  src="https://youtube.com/embed/7CPry8YILe8?list=PLFwoyXoF043iWmySWefYeX1RTXXLurIlb" allowfullscreen></iframe>
       
    
          <p class="card-text">I can read the f-phonic | English alphabet sounds | Stories for children | Reading resources kids</p>
         
          
        
      </div>
  </div>
</div>
<div class="col col-12 col-md-6 col-lg-3">
    <div class="col col-12 col-md-6 col-lg-3">
    <div class="card" style="width: 13rem;" >
        <h5 class="card-title" style="color: crimson;">twelfth video</h5>
        <iframe  src="https://youtube.com/embed/2vlsrm4b4u8?list=PLFwoyXoF043iWmySWefYeX1RTXXLurIlb" allowfullscreen></iframe>
     
          <p class="card-text">How to pronounce the i-sound in English | Alphabet stories for children</p>
      
          
       
      </div>
  </div>
</div>
</div>
</div>
<br>


<div class="titre"><h3>  Pictures and names of animals   </h3></div> 



<div class="container">
    <div class="cards">
        <div class="card">
            <img  src="https://i.pinimg.com/originals/6f/7a/1e/6f7a1e0b49e9b112aebcfba465882733.jpg">
            
            <div class="card-body">
              
            </div>
          </div>
          <div class="card">
            <img src="https://image.shutterstock.com/image-vector/english-animal-alphabet-z-each-600w-437242462.jpg">
            
            <div class="card-body">
             
            </div>
          </div>
          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkMwtQcYIy-rsg7MAlS_k70WnwzAgNQ8wVYX1MCdQzclHAgbFinzOGxbD_BxderES1I_A&usqp=CAU">
            
            <div class="card-body">
             
            </div>
          </div>
          <div class="card">
            <img src="https://myenglishtutors.org/wp-content/uploads/2020/10/Forest-Animals-2.jpg" >
          
            <div class="card-body">
              
            </div>
          </div>
          <div class="card">
            <img src="https://i.pinimg.com/originals/54/a0/c4/54a0c4be43f2538421a660a9343e42f4.jpg">
            
            <div class="card-body">
            
            </div>
          </div>
          <div class="card">
            <img src="https://images-na.ssl-images-amazon.com/images/I/9175xxLdypS.jpg">
            
            <div class="card-body">
              
            </div>
          </div>
          <div class="card">
            <img src="https://i.pinimg.com/736x/a1/1d/d0/a11dd03d453e68558c8e15c0c1fa5acb--zoo.jpg">
            
            <div class="card-body">
             
            </div>
          </div>
          <div class="card">
            <img src=" https://thumbs.dreamstime.com/z/cartoon-animal-alphabet-chart-learning-illustration-each-letter-upper-lowercase-letters-33281999.jpg ">
            
            <div class="card-body">
             
            </div>
          </div>
          <div class="card">
            <img src="https://engdic.org/wp-content/uploads/2020/07/animal-names.jpg.webp">
           
            <div class="card-body">
            
          </div>
        </div>
    </div>
    </div>
    <div class="fruit">  <h3>  Pictures and names of grains</h3></div> 
    <div class="container">
        <div class="cards">
            <div class="card">
                <img  src="https://i.pinimg.com/originals/c7/01/c4/c701c4de5b9c0a783c1752a753b9a356.jpg">
                
                <div class="card-body">
                  
                </div>
              </div>
              <div class="card">
                <img src=" https://englishgrammarpdf.com/wp-content/uploads/2021/09/Fruit-Name-List.png">
                
                <div class="card-body">
                 
                </div>
              </div>
              <div class="card">
                <img src="https://loveenglish.org/wp-content/uploads/2020/09/Fruits.jpg">
                
                <div class="card-body">
                 
                </div>
              </div>
              <div class="card">
                <img src="https://i.pinimg.com/originals/6f/7d/49/6f7d49600948b5a1a6f29917d785d0f4.jpg">
              
                <div class="card-body">
                  
                </div>
              </div>
              <div class="card">
                <img src="https://i.pinimg.com/736x/da/e4/51/dae451e6150d2f1ae54a45bff042b3af.jpg">
                
                <div class="card-body">
                
                </div>
              </div>
              <div class="card">
                <img src="https://images-na.ssl-images-amazon.com/images/I/71ipN4YVNnL.jpg">
                
                <div class="card-body">
                  
                </div>
              </div>
    
            </div>
        </div>
